<p>**Interpolation binding**</p>
<div><span>name: </span>{{details.name | uppercase}}</div><br>
<div><span>age: </span>{{details.age}}</div>

<p>**Property binding**</p>
<p [innerHTML]="details.name"></p>
<p [innerHTML]="details.age"></p>

<p>**Two way binding**</p>
<div><label>name: <input [(ngModel)]="details.name" placeholder="name"></label></div><br>
<div><label>age: <input [(ngModel)]="details.age" placeholder="age"></label></div>

<p>**Event binding**</p>
<button (click)="myClickFunction($event)">
  Click Me
</button>
